<div fxFlexFill>
  <mat-card fxFlex="100" fxLayout="column">
    <mat-card-header>
      <mat-card-title>{{ heroe.superhero }}</mat-card-title>
      <mat-card-subtitle>{{
        heroe.alter_ego ? heroe.alter_ego : "-"
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <img
      mat-card-image
      src="assets/heroes/{{ heroe.id }}.jpg"
      alt="{{ heroe.superhero }} image"
    /> -->
      <img mat-card-image [src]="heroe | imagen" />
      <h3>{{ heroe.publisher }}</h3>
      <p>
        <strong>Primera aparición:</strong> {{ heroe.first_appearance }}
        <br />
        <strong>Personajes:</strong> {{ heroe.characters }}
      </p>
    </mat-card-content>
    <span class="spacer"></span>
    <mat-card-actions fxLayoutAlign="space-between end">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/heroes/editar', heroe.id]"
      >
        Editar
      </button>
      <button
        mat-raised-button
        color="accent"
        [routerLink]="['/heroes', heroe.id]"
      >
        Más...
      </button>
    </mat-card-actions>
  </mat-card>
</div>
